@model InDMoviesWeb.Models.UsuarioModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>UsuarioModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nick)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nick)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Nacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Nacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imagen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imagen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

    </dl>
</div>
<h4>Temas</h4>
@Html.Action("DetailsUsuario", "Tema", new { id = Model.Email })

<h4>Grupos</h4>
@Html.Action("DetailsUsuario", "Grupo", new { id = Model.Email })

<h4>Videos</h4>
@Html.Action("DetailsUsuario", "Video", new { id = Model.Email })
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Email+'/' }) |
    @Html.ActionLink("Back to List", "Index")
</p>
