@model InDMoviesWeb.Models.UsuarioModel
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Perfil</h2>
@if (User.Identity.GetUserName() == "admin@admin.com")
{
    @Html.ActionLink("BotonSecreto", "IndexAdmin", "Home")
}
<div class="container">
    <hr />
    <div class="col-lg-5 col-sm-5 placeholder">
        <img style="display:block; margin:auto" height="200" width="200" src="@Html.DisplayFor(model => model.Imagen)" />
        <h4 style="text-align:center">@Html.DisplayFor(model => model.Nick)</h4>
    </div>


    <div class="col-lg-5 col-sm-5">
        <br />
        <dl class="dl-horizontal">
            <dt>
                <h4>@Html.DisplayNameFor(model => model.Nombre)</h4>
            </dt>

            <dd>
                <h4>@Html.DisplayFor(model => model.Nombre)</h4>
            </dd>

            <dt>
                <h4>@Html.DisplayNameFor(model => model.Apellidos)</h4>
            </dt>

            <dd>
                <h4>@Html.DisplayFor(model => model.Apellidos)</h4>
            </dd>
            <dt>
                <h4>@Html.DisplayNameFor(model => model.Fecha_Nacimiento)</h4>
            </dt>

            <dd>
                <h4>@Html.DisplayFor(model => model.Fecha_Nacimiento)</h4>
            </dd>

            <dt>
                <h4>@Html.DisplayNameFor(model => model.Rol)</h4>
            </dt>

            <dd>
                <h4>@Html.DisplayFor(model => model.Rol)</h4>
            </dd>

            <dt>
                <h4>@Html.DisplayNameFor(model => model.Descripcion)</h4>
            </dt>

            <dd>
                <h4>@Html.DisplayFor(model => model.Descripcion)</h4>
            </dd>
        </dl>
    </div>
    <div class="col-lg-2 col-sm-2">
        @if (User.Identity.GetUserName() == Model.Email)
        {
            <p>
                @Html.ActionLink("Notificaciones", "Index", "Notificacion", new { id = Model.Email + '/' }, new { @class = "btn btn-primary btn-md", @role = "button" })
            </p>
        }
        @if (User.Identity.GetUserName() == Model.Email || User.Identity.GetUserName()=="admin@admin.com")
        {
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-cog"></span> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Edit", "Edit", new { id = Model.Email + '/' })</li>
                    <li>@Html.ActionLink("Delete", "Delete2", new { id = Model.Email + '/' })</li>
                </ul>
            </div>
        }
    </div>
</div>

<div class="col-lg-12 col-sm-12">
    <br />
</div>

<h4>Temas</h4>
@Html.Action("DetailsUsuario", "Tema", new { id = Model.Email })
<h4>Grupos</h4>
@Html.Action("DetailsUsuario", "Grupo", new { id = Model.Email })
<h4>Videos</h4>
@Html.Action("DetailsUsuario", "Video", new { id = Model.Email })
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
