@model InDMoviesWeb.Models.VideoModel


@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>VideoModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valoraciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valoraciones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_subida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_subida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Miniatura)
        </dt>

        <dd>
            <img height="200" width="200" src="@Html.DisplayFor(model => model.Miniatura)" />
        </dd>

    </dl>
</div>

<h4>Video</h4>

<iframe width="560" height="315" src=@Html.DisplayFor(model => model.Url) frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>

<h4>Valoracion</h4>

@Html.ActionLink("Comentar este video", "Create", "Valoracion", new { id = Model.Id }, null)

@Html.Action("DetailsVideo", "Valoracion", new { id = Model.Id })

<h4>Comentarios</h4>

@Html.ActionLink("Comentar este video", "Create", "Comentario", new { id = Model.Id }, null)



@using (Html.BeginForm("Create", "Comentario", new { id = Model.Id }, FormMethod.Post, null))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>ComentarioModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Texto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Texto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Texto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
    
}



















@Html.Action("DetailsVideo", "Comentario", new { id = Model.Id })

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
