@model InDMoviesWeb.Models.VideoModel
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Videos</h2>

@if (Request.IsAuthenticated)
{
    <h2>
        @Html.ActionLink("Subir video", "Create", null, new { @class = "btn btn-primary btn-md", @role = "button", @style = "background-color:#E52A6F; border-color:#E52A6F; font-size:16pt" })
    </h2>
}
else
{
    <h2>
        @Html.ActionLink("Subir video", "Create", null, new { @class = "btn btn-primary btn-md disabled", @role = "button", @style = "background-color:#E52A6F; border-color:#E52A6F; font-size:16pt" })

    </h2>
    <p style="font-size:12pt; color: #222945">
        Debes iniciar sesión para subir un video
    </p>
}

@if (Model.Email == User.Identity.GetUserName() || User.Identity.GetUserName() == "admin@admin.com")
{
    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary btn-md", @role = "button", @style = "background-color:#67AECA; border-color:#67AECA; font-size:12pt" })
        @Html.ActionLink("Eliminar", "Delete", new { id = Model.Id }, new { @class = "btn btn-primary btn-md", @role = "button", @style = "background-color:#67AECA; border-color:#67AECA; font-size:12pt" })
    </p>
}
<hr />
<div>
    <iframe width="560" height="315" src=@Html.DisplayFor(model => model.Url) frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen style="width:100%; max-width:560px;"></iframe>
    <h3>@Html.DisplayFor(model => model.Titulo)</h3>
    <hr />
</div>

<div style="color:white; background-color:#222945; padding: 10px;">
    

    

    <dl class="dl-horizontal" style="color:white">

        <dt>
            Descripción: 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            Autor: 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario)
        </dd>

        <dt>
            Fecha de subida: 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_subida)
        </dd>

    </dl>

    @Html.Action("DetailsVideo", "Valoracion", new { id = Model.Id })

    <dl class="dl-horizontal">
        @using (Html.BeginForm("Create", "Valoracion", new { id = Model.Id }, FormMethod.Post, null))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <dt>
                Valorar video:
            </dt>
            <dt>
                (del 1 al 5)
            </dt>
            <dd>
                @Html.EditorFor(model => model.Valor, new { htmlAttributes = new { @class = "form-control", @style="width: 65px;"} })
                
            </dd>
            <dd>
                <input type="submit" value="Valorar" class="btn btn-default style = " background-color:#67AECA; border-color:#67AECA" />

            </dd>

        }

    </dl>
</div>
<hr />
<h3>Comentarios</h3>

@using (Html.BeginForm("Create", "Comentario", new { id = Model.Id }, FormMethod.Post, null))
{
    @Html.AntiForgeryToken()


        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.LabelFor(model => model.Texto, htmlAttributes: new { @class = "control-label col-md-1" })

        @Html.TextAreaFor(model => model.Texto, new { htmlAttributes = new { @class = "form-control", @style = "width: 305px;" } })
        @Html.ValidationMessageFor(model => model.Texto, "", new { @class = "text-danger" })

        <input type="submit" value="Create" class="btn btn-default" />
   
}
<br />
<hr />

<div style="color:white; background-color:#222945; padding: 10px;">
    @Html.Action("DetailsVideo", "Comentario", new { id = Model.Id })
</div>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
