<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - InDMovies</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    

    <style>

        .navLista {
            color: red;
        }
        .navLista:hover {
            background-color: #222945;
            color: red;
        }
        a.navbar-brand {
            
            color: red;
        
        }

    </style>

</head>


<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="
    
    background-color: #333A56;
    border-color: #333A56;

    ">
        <div class="container" >
            <div class="navbar-header" >
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("InDMovies", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", @style= "color:#67AECA" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" >
                    <li class="navLista">@Html.ActionLink("Inicio", "Index", "Home",null , new { @style="color:#FFF"})</li>
                    <li class="navLista">@Html.ActionLink("Videos", "Index", "Video", null, new { @style = "color:#FFF" })</li>
                    <li class="navLista">@Html.ActionLink("Grupos", "Index", "Grupo", null, new { @style = "color:#FFF" })</li>
                    <li class="navLista">@Html.ActionLink("Temas", "Index", "Tema", null, new { @style = "color:#FFF" })</li>
                    <li class="navLista">@Html.ActionLink("Busqueda", "Create", "Busqueda", null, new {@style = "color:#FFF" })</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>
                &copy; @DateTime.Now.Year - Mi aplicación ASP.NET
                
            </p>
            <p>
                ¿Tienes alguna sugerencia para la web? Hazla aquí: 
                @Html.ActionLink("Sugerencias", "Create", "Sugerencia", null, new { @style = "color:#67AECA" })

            </p>
        </footer>
    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
