@model IEnumerable<InDMoviesWeb.Models.RespuestaModel>
@using Microsoft.AspNet.Identity

<p>
</p>

<div class="list-group">

    @foreach (var item in Model)
    {






        <a class="list-group-item">


            <div class="row">
                <div class="col-sm-4">
                     @Html.DisplayFor(modelItem => item.Descripcion)
                </div>
                <div class="col-sm-3">
                    <strong></strong> @Html.DisplayFor(modelItem => item.Fecha)

                </div>
                <div class="col-sm-3">
                    <strong>Autor:  @Html.DisplayFor(modelItem => item.Usuario)  </strong>
                </div>


            </div>


        </a>

        if (User.Identity.GetUserName() == item.Email|| User.Identity.GetUserName()=="admin@admin.com")
        {

            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-cog"></span> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><span class="glyphicon glyphicon-edit"></span>@Html.ActionLink("Editar", "Edit", new { id = item.Id })</li>
                    <li><span class="glyphicon glyphicon-trash"></span>@Html.ActionLink("Borrar", "Delete", new { id = item.Id })</li>
                </ul>
            </div>
        }



        <br><br>
    }



