@model IEnumerable<InDMoviesWeb.Models.RespuestaModel>
@using Microsoft.AspNet.Identity

<p>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario)
            </td>
            <td>
                @if (User.Identity.GetUserName() == item.Email)
    {

            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-cog"></span> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><span class="glyphicon glyphicon-edit"></span>@Html.ActionLink("Editar", "Edit", new { id = item.Id })</li>
                    <li><span class="glyphicon glyphicon-trash"></span>@Html.ActionLink("Borrar", "Delete", new { id = item.Id })</li>
                </ul>
            </div>
}


            </td>
        </tr>
    }

</table>