@model InDMoviesWeb.Models.BusquedaModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>BusquedaModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Texto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Texto)
        </dd>

    </dl>
</div>
@Html.Action("DetailsBusqueda", "Usuario", new { id = Model.Texto })
@Html.Action("DetailsBusqueda", "Grupo", new { id = Model.Texto })
@Html.Action("DetailsBusqueda", "Tema", new { id = Model.Texto })
@Html.Action("DetailsBusqueda", "Video", new { id = Model.Texto })



<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
