@model InDMoviesWeb.Models.TemaModel
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Página de tema</h2>

<div>
    <br>
    <h4><strong>@Model.Titulo</strong></h4>

    @if (User.Identity.GetUserName() == Model.Email || User.Identity.GetUserName()=="admin@admin.com")
    {

        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                <span class="glyphicon glyphicon-cog"></span> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><span class="glyphicon glyphicon-edit"></span>@Html.ActionLink("Editar", "Edit", new { id = Model.Id })</li>
                <li><span class="glyphicon glyphicon-trash"></span>@Html.ActionLink("Borrar", "Delete", new { id = Model.Id })</li>
            </ul>
        </div>
    }

    <div class="list-group">
        <div class="row">
            <div class="col-sm-12">

                @Model.Descripcion
            </div>
        </div>

    </div>

    <dl class="dl-horizontal">

        <dt>
            <strong>Creado por:</strong>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario)
        </dd>

        <dt>
            <strong>A dia:</strong>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

    </dl>

    @if (User.Identity.GetUserName() == Model.Email || User.Identity.GetUserName() == "admin@admin.com")
    {
        if (Model.Estado == "abierto")
        {
            <p>¿Deseas cerrar este tema?</p>
            <p>@Html.ActionLink("Cerrar el tema", "AbrirCerrar", new { id = Model.Id }, new { @class = "btn btn-primary btn-md", @role = "button" })</p>


        }
        else
        {
            <p>El tema esta cerrado y no admite nuevas respuestas.</p>
        }
    }
    else
    {
        if (Model.Estado == "abierto")
        {
            <p>El tema está abierto a respuestas. ¿Por qué no aportas tu granito de arena?</p>


        }
        else
        {
            <p>El tema está cerrado y no admite más respuestas, pero puedes leer las respuestas.</p>

        }
    }


    <hr />

</div>

    <h4>Respuestas</h4>

    <p>
        @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("CreateBox", "Respuesta", new { id = Model.Id }, FormMethod.Post, null))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Texto, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10" style="width:100%">
                    @Html.TextAreaFor(model => model.Texto, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Texto, "", new { @class = "text-danger" })

                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Responder" class="btn btn-default" style="text-color:#ffffff;#E52A6F; border-color:#E52A6F"/>
                </div>
            </div>
        </div>

}
}
else
{
<p>Debes @Html.ActionLink("registrarte", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" }) o @Html.ActionLink("iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) para responder.</p>
    }












        @Html.Action("DetailsTema", "Respuesta", new { id = Model.Id })


        <p>


           
        <p>@Html.ActionLink("Volver a la lista de temas", "Index", null, new { @class = "btn btn-primary btn-md", @role = "button", @style = "background-color:#E52A6F; border-color:#E52A6F" })</p>

        </p>
