@model IEnumerable<InDMoviesWeb.Models.GrupoModel>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Imagen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lider)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Completo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AceptaMiembros)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Miembros)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            <img height="200" width="200" src="@Html.DisplayFor(modelItem => item.Imagen)" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lider)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Completo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AceptaMiembros)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Miembros)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
