
@model InDMoviesWeb.Models.GrupoModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2> @Html.DisplayFor(model => model.Nombre)</h2>

<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        <span class="glyphicon glyphicon-cog"></span><span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><span class="glyphicon glyphicon-edit"></span></li>
        <li>@Html.ActionLink("Editar", "Edit", new { id = Model.Nombre })</li>
        <li>@Html.ActionLink("Borrar", "Delete", new { id = Model.Nombre })</li>
        <li><a href="#">Opcion</a></li>
    </ul>
</div>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Imagen)
        </dt>

        <dd>
            <img height="200" width="200" src="@Html.DisplayFor(model => model.Imagen)" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lider)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lider)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Completo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Completo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AceptaMiembros)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AceptaMiembros)
        </dd>
    </dl>
</div>

<h3>Miembros</h3>
@Html.Action("DetailsGrupo","Usuario", new { id = Model.Nombre })

<p>
    <span class="glyphicon glyphicon-menu-left"></span>@Html.ActionLink("Back to List", "Index")
</p>
