
@model InDMoviesWeb.Models.GrupoModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    String lider = Model.Lider;
    string nombre = Model.Nombre;
}


<h2> @Html.DisplayFor(model => model.Nombre)</h2>

@Html.Action("HerramientasGrupo", "Grupo", new { idUsu = User.Identity.Name.ToString(), idGrup = Model.Nombre })

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Imagen)
        </dt>

        <dd>
            <img height="200" width="200" src="@Html.DisplayFor(model => model.Imagen)" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lider)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lider)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Completo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Completo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AceptaMiembros)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AceptaMiembros)
        </dd>
    </dl>
</div>


@{
    string Visibility = "hidden";
    if (Request.IsAuthenticated)
    {
        if (Model.AceptaMiembros == true) { Visibility = "visible"; }

    }
}
<div style="visibility:@Visibility;">
        @Html.ActionLink("Unirse a grupo", "UnirseAGrupo", new { id = User.Identity.Name.ToString() + "/" , idGrup = Model.Nombre} , new { @class = "btn btn-success btn-md", @role = "button"})
</div>



<h3>Miembros</h3>

@Html.Action("DetailsGrupo","Usuario", new { id = Model.Nombre })

<p>
    <a href="@Url.Action("Index", "Grupo")" class="btn btn-default">
        <span class="glyphicon glyphicon-arrow-left"></span>
        Back to Index
    </a>
</p>


