@model IEnumerable<InDMoviesWeb.Models.GrupoModel>
@using Microsoft.AspNet.Identity

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Imagen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lider)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Completo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AceptaMiembros)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img height="100" width="100" src="@Html.DisplayFor(modelItem => item.Imagen)" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lider)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Completo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AceptaMiembros)
        </td>
            <td>
               @Html.ActionLink("Detalles", "Details", new { id = item.Nombre },new { @class = "btn btn-primary btn-md", @role = "button" })
            </td>
    </tr>
}

</table>
